body{
    background-image: url(./08124ab1c97b9fa01699843f084d18.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.brd{
    border: 1px solid red;
}

.calcolatrice{
    margin: auto;
    height: 600px;
    width: 350px;
    margin-top: 100px;
    border-radius: 15%;
    overflow: hidden;
    border: 5px solid black;
    background: url(./36593642-verde-codice-binario-su-sfondo-nero.webp);
}

.ContainerDisplay{
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display{
    height: 70px;
    width: 300px;
    font-size: 30px;
}

.containerTasti{
    display: flex;
    height: 465px;
}

.containerNumeri{
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.btn{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 30px;
    color: rgb(5, 196, 5);
}


.containerOperatori{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.btn:focus{
    -webkit-box-shadow: 0px 0px 48px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 48px 4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 48px 4px rgba(0,0,0,0.75);
}